[flake8]
# TODO: Re-enable these checks after fixing the issues:
# D104 - Missing docstring in public package
# D100 - Missing docstring in public module
# D103 - Missing docstring in public function
# D400 - First line should end with a period
# F401 - Module imported but unused
# F841 - Local variable assigned but never used
extend-ignore = E501,D104,D100,D103,D400,F401,F841
